## .NET
bin/
obj/
publish/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
launchSettings.json

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
bld/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg
**/packages/repositories.config

## Project-specific
*.pgr

## OS files
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

## Rider / JetBrains
.idea/
*.sln.iml

## NCrunch
_NCrunch_*
.*crunch*.local.xml
nCrunchTemp_*

## Temp files
*.tmp
*.bak
*.swp
*~
